body {
  padding-top: 60px;
  background-color: #eee;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.ember-highlight-line-numbers {
  list-style: none;
  width: 3em;
  margin: 0;
  padding: 0.5em;
  float: left;
  line-height: 1.42857143;
  font-size: 13px;
  border-width: 1px;
  text-align: right;
}

.line-highlight {
  background-color: green;
  width: 100%;
  display: inline-block;
}

.current-file-name {
  position: absolute;
  padding: 15px;
  color: white;
  font-size: 16px;
}

.source-code-wrapper {
  /* bottom navbar so that won't cover last few lines of code */
  margin-bottom: 60px;
  margin-left: 360px;
  width: calc(100% - 370px);
}

.container {
  width: 100%;
}

#sidebar-wrapper {
  padding: 10px 10px;
  background-color: #353549;
  position: fixed;
  left: 0;
  top: 51px;
  width: 340px;
  height: calc(100% - 10px);
  box-sizing: content-box;
  overflow-y: scroll;
}

.variables-table {
  color: white;
}
  .variables-table td {
    word-break: break-all;
  }

.modal-dialog-center {
  /* FIXME */
}

.navbar-form {
  width: 400px;
}
  .navbar-form input {
    width: 320px !important;
  }